@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Open-sans, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

main:before {
  content: "";
  background-image: linear-gradient(90deg, #134bb4, #19c0dd);
  width: 50%;
  height: 100%;
}

main:after {
  content: "";
  background-color: #0c52c4;
  background-image: linear-gradient(90deg, #19c0dd, #134bb4);
  width: 50%;
  height: 100%;
}

.inner-content {
  background: white;
  width: 60vw;
  height: 70vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
}

.inner-content .left {
  padding: 150px 50px;
  background-color: #fff;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border-radius: 10px 0 0 10px;
  outline: none;
}


.inner-content .left img {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inner-content .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: #81abd3;
  width: 50%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.inner-content .right > img {
  margin: 0 80px;
  display: flex;
  width: 50%;
}

.container-form {
  padding: 10px;
  width: 400px;
  height: calc(100% - 100px);
  background: #fff;
  position: absolute;
  border-radius: 10px;
  outline: none;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
}

.sign-up {
  display: flex;
  justify-content: space-around;
  margin: 40px 60px;
  align-items: center;
}

.sign-up p {
  font-size: 12px;
  font-weight: 400;
}

.sign-up button {
  background: #4086f5;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  font-size: 12px;
  color: #fff;
}

.sign-up button:hover {
  background: #2270ee;
}

.text-invite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 40px 10px;
}

.text-invite h2 {
  font-size: 35px;
  font-weight: 600;
}

.text-invite h2::after {
  content: ".";
  color: #4086f5;
}

.text-invite p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.input-email {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.input-email label {
  margin: 0 0 10px;
}

.input-email input {
  padding: 0 50px;
  background: #fff;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-image: url(./Assets/email-icon.png);
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.input-password {
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.input-password input {
  padding: 0 50px;
  background: #fff;
  height: 50px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-image: url(./Assets/cadeado.png);
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.pass-label {
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pass-label label {
  font-size: 14px;
}

.pass-label a {
  font-size: 12px;
  text-decoration: none;
}

.pass-label a:hover {
  color: #4086f5;
}

.sign-in {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.sign-in button {
  height: 50px;
  width: 130px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #4086f5;
  color: #fff;
}

.sign-in button:hover {
  background: #2270ee;
}


